body {
    font-family: Unbounded;
    background-color: #FFF171;
    color:#2E138F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One";
}

h1{
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color:#6948DB ;
    background-color:#DBCD48;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 400px;
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(1) {
    color:royalblue
}
ul li:nth-child(2) {
    color: red;
}
ul li:nth-child(3) {
    color: black;
}
ul li:nth-child(4) {
    color:brown
}
ul li:nth-child(5) {
    color:darkgreen;
}