body {
    font-family: Unbounded;
    background-color: #FFF171;
    color:black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One";
}

h1{
    font-size: 40pt;
}

h2 {
    margin: 0.1em;
}

header {
    text-align: center;
}

#hero, footer {
    color:black;
    background-color:#DBCD48;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width: 400px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies Section */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(1) {
    color:royalblue
}
ul li:nth-child(2) {
    color: red;
}
ul li:nth-child(3) {
    color: black;
}
ul li:nth-child(4) {
    color:brown
}
ul li:nth-child(5) {
    color:darkgreen;
}

/* Gallery Section */

#gallery {
    border: 5pt dotted #8f8421;
    text-align: center;
    margin-bottom: 3rem;
}

#gallery img {
    max-width:100%;
}

#gallery figure{
    text-align: center;
}

/* Literature */
#lit {
    border: 5pt dotted #8f8421;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

#lit h2 {
    text-align: center;
    padding-top: 1rem;
}

/* Dropcaps*/

#lit div p:first-child:first-letter {
    color: black;
    background-color:#DBCD48;
    float: left;
    font-size: 3em;
    padding: .25em;
    line-height: .65;
    border: 3px inset grey;
}


/* tablet size */
@media screen and (min-width: 60em) {
    figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
    }

    figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }


    #lit div {
    max-width: 100%;
    columns: 40rem;
    }
}

/* large screen size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

/*Video Section */
#video {
    border: 5pt dotted #8f8421;
    text-align: center;
    margin-bottom: 3rem;
}

#myVideo {
    max-width:100%;
}

#figcaption{
    text-align: center;
}